.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .cardWrapper {
    margin-top: 18px;
  }
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }
  .toggletext {
    cursor: pointer;
    color: var(--color-primary);
  }
  .filterWrapper {
    margin-top: 15px;
  }
  