.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-primary);
    height: 74px;
    padding: 0 15px;
  }
  